{% extends 'happy/PlantillaFormulario.html' %}
{% load static %}

    {% block formulario %}
    <title>Nuevo Producto</title>
    {% endblock formulario %}
     <!-- JQuery -->
 
    {% block sesion %}
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12"></div>
            <div class="col-md-6 col-sm-12">                
                
                    <br><br><div id="login"style="width: 550px;" class="formu"> 
                        <h1 style="text-align: center;">Complete los cuadros</h1>     
                        <form action="#" method="POST" id="loginform" enctype="multipart/form-data">
                            {% csrf_token %}               
                            <label for="foto">Agregue una foto:</label>
                            <input type="file" id="foto" name="foto">
                            <label for="nombre">Nombre del producto:</label>
                            <input type="text" id="nombre" name="nombre">
                            <label for="id">Id del producto:</label>
                            <input type="text" id="id" name="id">
                            <label for="precio">Precio del producto:</label>
                            <input type="text" id="precio" name="precio">
                            <label for="peso">Peso del producto:</label>
                            <input type="text" id="peso" name="peso">
                            <label for="desc">Descripción del producto:</label>
                            <br><textarea id="descripcion" style="width: 100%;" name="desc"></textarea>
                            <br><button class="colorHipervinculo" type="submit" >Agregar</a></button>
                            <p class="warnings" id="warnings"></p>
                        </form>                
                    </div>
                               
            </div>
            <div class="col-md-3 col-sm-12"></div>
        </div>
    </div>    
    {% endblock sesion %}

    {% block script %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>
    <script src="js/Vagregar.js"></script>
    {% endblock script %}
