{% extends 'happy/PlantillaAlfombra.html' %}
{% load static %}

    {% block alfombra %}
    <title>Cama</title>
    {% endblock alfombra %}

    {% block cuerpoAlfombra %}
    <div class="container">
        <div class="row" style="text-align: center;">
            <div class="col-md-6 col-sm-12">
                <a href="../Semestral/bañoecoperro.html" target="_self"><br><br><img id="fotoperro3" 
                    src="{% static 'happy/img/CAMA-BEIGE-removebg-preview.png' %}" alt="No disponible"> </a>
            </div>
            <div class="col-md-6 col-sm-12">
                <br><h2 class="desc2">Cama antiestrés</h2>
                <h4 class="titulosdesc">$30.990</h4> 
                <br><br><br><input class="cant" type="number" min="1" max="200">
                <button class="button">Añadir al carrito</button>
            </div>
        </div> 
        <div class="row" style="text-align: center;">
            <div class="col-md-12 col-sm-12">
                <hr class="solid">
                <h2 class="titulosdesc">Descripción</h2>
                <h5 class="titulosdesc">La cama antiestrés -100-120cm- Damasco disponibles en diferentes tamaños.
                    Esta cama calmante tiene un tejido especial de suave felpa, para que tu mascota esté comoda 
                    y relajada.</h5>
            </div>
        </div>
    </div> 
    {% endblock cuerpoAlfombra %}  
    