{% extends 'happy/PlantillaAlfombra.html' %}
{% load static %}

    {% block alfombra %}
    <title>Cama para gatos</title>
    {% endblock alfombra %}
    
    {% block cuerpoAlfombra %}
    <div class="container">
        <div class="row" style="text-align: center;">
            <div class="col-md-6 col-sm-12">
                <img id="fotoperro2" 
                src="{% static 'happy/img/cama-iglu-1-removebg-preview.png' %}" alt="No disponible">
            </div>
            <div class="col-md-6 col-sm-12">
                <br><br><h2 class="titulosdesc">Cama en forma de iglú café</h2>
                <h4 class="titulosdesc">$23.990</h4> 
                <br><br><br><input class="cant" type="number" min="1" max="200">
                <button class="button">Añadir al carrito</button>
            </div>
        </div> 
        <div class="row" style="text-align: center;">
            <div class="col-md-12 col-sm-12">
                <hr class="solid">
                <h2 class="titulosdesc">Descripción</h2>
                <h5 class="titulosdesc">La cama en forma de iglú es muy comoda y agradable, especialmente diseñada
                para tu felino. Esta forma es ideal para generar amyor comodidad y tranquilidad a la hora de dormir</h5>
            </div>
        </div> 
    </div>  
    {% endblock cuerpoAlfombra %}
   