{% extends 'happy/PlantillaFormulario.html' %}
{% load static %}

    {% block formulario %}
    <title>Recuperar contraseña</title>
    {% endblock fotmulario %}
    <!-- JQuery -->
        {% block sesion %}
        <div id="contenedor">
            <div id="central">
                <div id="login">
                    <div class="titulo">
                        Recuperar contraseña
                    </div>
                    <form action="#" method="POST" id="loginform" enctype="multipart/form-data">

                        <input type="password" id="clave" placeholder="Contraseña" name="password" >

                        <input type="password" id="confirmacion" placeholder="Confirmar Contraseña" name="ConfiContraXd" >

                        <button type="submit">Confirmar</a></button>
                        <p class="warnings" id="warnings"></p>

                    </form>
                </div>
                <div class="inferior">
                    <a href="{% url 'inicio' %}">Volver</a>
                </div>
            </div>
        </div>
        {% endblock sesion %}

    {% block script %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>
    <script src="js/Vclave2.js"></script>
    {% endblock script %}
