{% extends 'happy/PlantillaAlfombra.html' %}
{% load static %}

    {% block alfombra %}
    <title>Collar</title>
    {% endblock alfombra %} 

    {% block cuerpoAlfombra %}
    <div class="container">
        <div class="row" style="text-align: center;">
            <div class="col-md-6 col-sm-12">
                <img id="fotoperro2" 
                src="{% static 'happy/img/collar_ella_1-removebg-preview.png' %}" alt="No disponible"> </a>
            </div>
            <div class="col-md-6 col-sm-12">
                <br><h2 class="titulosdesc">{{ nombre }}</h2>
                <h4 class="titulosdesc">{{ precio }}</h4>                 
                <br><br><br><input class="cant" type="number" min="1" max="200">
                <button class="button">Añadir al carrito</button>
            </div>
        </div> 
        <div class="row" style="text-align: center;">
            <div class="col-md-12 col-sm-12">
                <hr class="solid">
                <h2 class="titulosdesc">Descripción</h2>
                <h5 class="titulosdesc">{{ descripcion }}
                </h5>
            </div>
        </div>  
    </div> 
    {% endblock cuerpoAlfombra %}
    