{% extends 'happy/PlantillaFormulario.html' %}
{% load static %}

    {% block formulario %}
    <title>Editar Producto</title>
    {% endblock formulario %}

    {% block sesion %}
    <div class="container">
        <div class="row" style="text-align: center;">
            <div class="col-md-6 col-sm-12">
                <img id="fotoperro3" src="{% static 'happy/img/Casa-beige-removebg-preview-removebg-preview.png' %}" alt="No disponible">
                <input type="file" name="foto">
            </div>
            
            <div class="col-md-6 col-sm-12" >
                <br><br><h2 class="titulosdesc">Casa plástica</h2>
                <h4 class="titulosdesc">$68.990</h4>
                <button id="edit">Editar texto</button>                            
            </div>
        </div>

        <div class="row" style="text-align: center;">
            <div class="col-md-12 col-sm-12">
                <hr class="rounded">
                <h2 class="titulosdesc">Descripción</h2>
                <h5 class="titulosdesc">Casa para perros diseñada de un tamaño ideal para razas
                    de tamaño mediano o grandes. Tiene un piso elevado para aislar al canino y
                    y también seguro. Su material es resistente a la humedad, y es sencillo de limpiar.
                    Protección de rayos UV.</h5>
                <button id="edit">Editar texto</button>
                <br><br><button class="colorHipervinculo" id="edit" style="width: 100%;"><a href="{% url 'administrativo' %}">Guardar cambios</a></button>
            </div>
        </div>
    </div>
    {% endblock sesion %}

    {% block script %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>
    {%endblock script%}