{% extends 'happy/PlantillaPag1.html' %}
{% load static %}

    {% block titulo %}
    <title>Gatos</title>
    {% endblock titulo %}
     
    {% block cuerpo %}
    <br><h1 class="titulosdesc">Accesorios gatos </h1>       
    <div class="container">
            <br><br><div class="row " style="text-align: center;">
                <div class="col-md-4 col-sm-12">
                    <a href="{% url 'Arenero' %}" target="_self"><img id="fotoperro4" 
                    src="{% static 'happy/img/540-removebg-preview (1).png' %}" alt="No disponible"></a>
                    <h4 class="desc2">Arenero con techo</h4>
                    <h5 class="desc2">$15.990</h5>
                </div>

                <div class="col-md-4 col-sm-12">
                    <a href="{% url 'rascador' %}" target="_self"><img id="fotoperro4" 
                    src="{% static 'happy/img/image-removebg-preview.png' %}" alt="No disponible"></a>
                    <h4 class="desc2">Rascador de 3 niveles</h4>
                    <h5 class="desc2">$47.590</h5>
                </div>

                <div class="col-md-4 col-sm-12">
                    <a href="{% url 'collar' %}" target="_self"><img id="fotoperro4" 
                    src="{% static 'happy/img/collar_ella_1-removebg-preview.png' %}" alt="No disponible"></a>
                    <h4 class="desc2">Collar naranjo</h4>
                    <h5 class="desc2">$5.990</h5>            
                </div>
            </div>

            <div class="row" style="text-align: center;">
                <div class="col-md-4 col-sm-12">
                    <a href="{% url 'CamaGatos' %}" target="_self"><img id="fotoperro4"
                    src="{% static 'happy/img/cama-iglu-1-removebg-preview.png' %}" alt="No disponible"></a>
                    <h4 class="desc2">Cama iglú café</h4>
                    <h5 class="desc2">$23.990</h5>
                </div>

                <div class="col-md-4 col-sm-12">
                    <a href="{% url 'JugueteGato' %}" target="_self"><br><br><img id="fotoperro4"
                    src="{% static 'happy/img/1200x1200_buen_amigo-removebg-preview.png' %}" alt="No disponible"></a>
                    <h4 class="desc2">Juguete loco rosado</h4>
                    <h5 class="desc2">$2.390</h5>    
                </div>

                <div class="col-md-4 col-sm-12">
                    <a href="{% url 'Alfombra' %}" target="_self"><img id="fotoperro4"
                    src="{% static 'happy/img/Alfombra-de-goma-antideslizante-para-mascotas-alfombrilla-para-el-cuidado-de-mascotas-mesa-de-entrenamiento-para-removebg-preview.png' %}" alt="No disponible"></a>
                    <h4 class="desc2">Alfombra Sanitaria rosa</h4>
                    <h5 class="desc2">$10.990</h5>
                </div>            
            </div>
        </div>
    </div>    
    {% endblock cuerpo %}
