{% extends 'happy/PlantillaFormulario.html' %}
{% load static %}

    {% block formulario %}
    <title>Administrador</title>
    {% endblock formulario %}
     <!-- JQuery -->

    {% block sesion %}
    <div id="contenedor">
        <div id="central">
            <div id="login">
                <div class="titulo">
                    Bienvenido administrador!
                </div>
                <form action="#" method="POST" id="loginform" enctype="multipart/form-data">
                {% csrf_token %}
                    <input type="text" id="usuario" name="usuario" placeholder="Usuario" >
                    
                    <input type="password" id="clave" placeholder="Contraseña" name="password" >
                    
                    <button type="submit">Iniciar sesión</button>
                    <p class="warnings" id="warnings"></p>
                    <button class="colorHipervinculo"><a href="{% url 'administrativo' %}">Entrar</button></a>
                </form>
                <div class="pie-form">
                    <a href="{% url 'Clave' %}">¿Olvidaste tu contraseña?</a>
                </div>
            </div>
            <div class="inferior">
                <a href="{% url 'IniSesion' %}">Volver</a>
            </div>
        </div>
    </div>
    {% endblock sesion %}

    {% block script %}
    <script src="js/Viniadmin.js"></script>
    {% endblock script %}
