{% extends 'happy/PlantillaAlfombra.html' %}
{% load static %}

    {% block alfombra %}
    <title>Plato</title>
   {% endblock alfombra %}
    
    {% block cuerpoAlfombra %}
    <div class="container">
        <div class="row" style="text-align: center;">
            <div class="col-md-6 col-sm-12">
                <a href="../Semestral/bañoecoperro.html" target="_self"><br><br><br><img id="fotoperro" 
                    src="{% static 'happy/img/Comedero-beige-removebg-preview.png' %}" alt="No disponible"> </a>
            </div>
            <div class="col-md-6 col-sm-12">
                <br><h2 class="titulosdesc">Comedero y bebedero</h2>
                <h4 class="titulosdesc">$8.990</h4> 
                <br><br><br><input class="cant" type="number" min="1" max="200">
                <button class="button">Añadir al carrito</button>
            </div>
        </div>  
        
        <div class="row" style="text-align: center;">
            <div class="col-md-12 col-sm-12">
                <hr class="solid">
                <h2 class="titulosdesc">Descripción</h2>
                <h5 class="titulosdesc">Bonve Pet 2x400ML.
                    Comedero para perros de acero inoxidable con base de silicona antideslizante,
                    2 cuencos comedero para comida y agua.
                </h5>                
            </div>
        </div>
    </div>
    {% endblock cuerpoAlfombra %}