{% extends 'happy/PlantillaFormulario.html' %}
{% load static %}

    {% block formulario %}
    <title>Registrarse</title>
    {% endblock formulario %}
     <!-- JQuery -->

    {%block sesion%}
        <div id="contenedor">
            <div id="central">
                <div id="login">
                    <div class="titulo">
                        Bienvenido!
                    </div>
                    <form action="#" method="POST" id="loginform" enctype="multipart/form-data">
                        <p class="cositaBella">Que alegría que quieras 
                            formar parte de esta gran familia!</p>
                        <input type="text" id="nombre" name="nomPersona" placeholder="Nombre" >

                        <input type="text" id="apellido" name="apePersona" placeholder="Apellido" >

                        <input type="text" id="usuario" name="usuario" placeholder="Usuario" >

                        <input type="email" id="email" name="correoxd" placeholder="Email" >
                        
                        <input type="password" id="clave" placeholder="Contraseña" name="password" >

                        <input type="password" id="confirmacion" placeholder="Confirmar contraseña" name="ConfiContraXd" >

                        <button type="submit">Registrarse</a></button>
                        <p class="warnings" id="warnings"></p>

                    </form>
                </div>
                <div class="inferior">
                    <a href="{% url 'inicio' %}">Volver</a>
                </div>
            </div>
        </div>
    {%endblock sesion %}      

    {% block script %}
    <script src="js/Vregistrarse.js"></script>
    {% endblock script %}
