{% extends 'happy/PlantillaAlfombra.html' %}
{% load static %}
    {% block alfombra %}
    <title>Ver perfil</title>
    {% endblock alfombra %}

{% block cuerpoAlfombra %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <img class="fotoperro2" src="{% static '' %}" alt="No disponible">
            </div>
            <div class="col-md-6 col-sm-12">
                <h3 class="titulosdesc">Nombre:</h3>
                <h4>Felipe</h4>
            </div>
        </div>
    </div>
{% endblock cuerpoAlfombra}