.header{
  background-color: #50bb67;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  
}

.header .logo{
  cursor: pointer;
}

.header .logo img{
  height: 100px;
  width: auto;
  transition: all 0.3s;
}

.header .logo img:hover{
  transform: scale(1.2);
}

.header .nav-item{
  list-style: disc;
}

.navbar-custom {
background-color: #f8f9fa;
}

.navbar-custom .navbar-nav .nav-link {
color: #333;
}

.navbar-custom .navbar-nav .nav-item.active .nav-link {
color: #fff;
background-color: #007bff;
}

.header .btn button{
  font-weight: 700;
  color: #1b3039;
  padding: 9px 25px;
  background: #eceff1;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.header .btn button:hover{
  background-color: #e2f1f8;
  color: #ffbc0e;
  transform: scale(1.1);
}